/* *,
*::before,
*::after {
    box-sizing: border-box;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

body {
    /* this is to make no margin in every direction*/
/*margin: 0;
} 
*/

#loader {
  color: #008cff;

  left: 25%;
  position: absolute;
  top: 15%;
}
.e-card {
  height: 600px;
  width: 1000px;
  margin: auto;
}
.e-card-header {
  margin-top: -220px;
  width: 100%;
  margin-left: -400px;
}

#loader .e-card .e-card-content {
  margin-top: 40px;
  text-align: center;
  width: 100%;
  margin-left: 0px;
}

.e-card-content .e-avatar {
  background: rgb(226, 226, 225);
}
.e-upload.e-control-wrapper,
.e-bigger.e-small .e-upload.e-control-wrapper {
  font-family: "Roboto", "Segoe UI", "GeezaPro", "DejaVu Serif", "sans-serif",
    "-apple-system", "BlinkMacSystemFont";
  border-style: none;
}
.e-upload .e-file-select-wrap .e-btn,
.e-upload .e-upload-actions .e-btn,
.e-bigger.e-small .e-upload .e-file-select-wrap .e-btn,
.e-bigger.e-small .e-upload .e-upload-actions .e-btn {
  font-family: inherit;
  color: white;
  background-color: #065fd4;
}
