<!-- <div class="card" >
    <div class="upload-icon">

        <img src="{{upload}}">
       
    </div>
    <div class="card-content">
        <h3> Drag and drop video files to upload</h3>
        <p>Your videos will be private until you publish them</p>
    </div>
    <span class="help-block">{{error}}</span>
    <div class="upload-button">
        <input class="btn btn-success btn-sm" type="file" name="uploadedVideo" id="fileToUpload" (change)="onFileSelected($event)" accept="video/*">
        <button type="submit" value="Upload Video" name="submit" (click)="uploadVideo()" [disabled]="selected===false" class="btn btn-primary">upload</button>
    </div>
   


</div> -->
<div id="loader">
<div tabindex="0" class="e-card" id="basic">
    <div class="e-card-header">
        <h3>Upload videos</h3>
    </div>
    <div class="e-card-separator"></div>
    <div class="e-card-content">
        Communicating with Windows 10 and Other Apps, the second in a five-part series written by Succinctly series
        author Matteo Pagani. To download the complete white paper, and other papers in the series, visit
        the White Paper section of Syncfusion’s Technology Resource Portal.
    </div>
</div>
</div>