<!-- <div class="card" >
    <div class="upload-icon">

        <img src="{{upload}}">
       
    </div>
    <div class="card-content">
        <h3> Drag and drop video files to upload</h3>
        <p>Your videos will be private until you publish them</p>
    </div>
    <span class="help-block">{{error}}</span>
    <div class="upload-button">
        <input class="btn btn-success btn-sm" type="file" name="uploadedVideo" id="fileToUpload" (change)="onFileSelected($event)" accept="video/*">
        <button type="submit" value="Upload Video" name="submit" (click)="uploadVideo()" [disabled]="selected===false" class="btn btn-primary">upload</button>
    </div>
   


</div> -->

<div id="loader">
<div tabindex="0" class="e-card" id="basic">
    <div class="e-card-header">
        <h3>Upload videos</h3>
    </div>
    <div class="e-card-separator"></div>
    <div class="e-card-content">
        <div class="e-avatar e-avatar-xlarge e-avatar-circle" style="width:136px;height:136px;">
            <img src="{{upload}}" width="136" height="136">
        </div>
        
        <h3> Drag and drop video files to upload</h3>
        <p>Your videos will be private until you publish them</p>
        <ejs-uploader cssClass="e-info" #defaultupload  autoUpload='false' [maxFileSize]=10000000000 (change)="onFileSelected($event)" multiple = 'false'   allowedExtensions = '.mp4,.mkv,.gif,.mpeg,.miv'[buttons]="buttons"></ejs-uploader>
        
    </div>
</div>
</div>