#loader {
  color: #008cff;

  left: 25%;
  position: absolute;
  top: 5%;
}
.e-card {
  height: 800px;
  width: 900px;
  margin: auto;
}
.e-card-header {
  margin-top: 0px;
  width: 100%;
  margin-left: -300px;
}

#loader .e-card .e-card-content {
  margin-top: 40px;
  text-align: center;
  width: 100%;
  margin-left: 0px;
}
#loader .e-card .e-card-content h2 {
  color: black;
  float: left;
}

ejs-textbox .description {
  height: 250px;

}
span{
  color:red;
  float: left;
}
#bottom-separator{
  margin-top:340px;
}