.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 1500px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin-left: 260px;
}
.styled-table .Title {
border-bottom: 1px solid #969695;
color:black;

}
.styled-table .Title tr th{
    font-weight: bold;
    font-size:40px;
    color:black;
    
    }

.styled-table thead tr {
    background-color: white;
    color: #969695;
    text-align: left;


}

.styled-table th,
.styled-table td {
    padding: 12px 25px;
}
.styled-table td a{
    color:blue;
    cursor: pointer;
    
}
.styled-table td a:hover{
    color:red;
}
.styled-table tbody tr {
    border-bottom: 1px solid #969695;
    height: 20px;
    
}

.styled-table tbody tr {
    background-color: #f3f3f3;
}

.styled-table tbody tr {
    border-bottom: 2px solid #969695;
}

.fabutton {
    background: none;
    padding: 0px;
    border: none;
  }