*,
*::before,
*::after {
  box-sizing: border-box;
 
}


body {
  /* this is to make no margin in every direction*/
  font-family: Roboto, Arial, Helvetica, sans-serif;
  margin: 0;
  overflow: hidden;
  
}
a{
  font-family: Roboto, Arial, Helvetica, sans-serif;
    text-decoration: none;
    color:black;
   
}
ul{
  font-family: Roboto, Arial, Helvetica, sans-serif;
    list-style-type: none;
}
hr{
    margin-left: -50px;
    width: 50%;
}

.header {
  margin-top: 1px;
  display: inline-flex;
}
#nav-menu .nav-menu-items #navbar-toogle{
margin-top: 75px;
margin-left: -20px;

}

nav ul #navbar-toogle .logo {
 
  width: 90px;
  height: 20px;
}
.nav-section{
    padding-top: 20px;
    margin-left: -40px;
}

.header .search {
  margin-left: 15px;
  margin-top: 1px;
}
.header .search button {
    
    float: right;
    padding-top: 7px;
    margin-right: 710px;
    margin-top: -15px;
  }
  .e-outline.e-input-group input.e-input, .e-outline.e-float-input.e-input-group input, .e-outline.e-input-group.e-control-wrapper input.e-input, .e-outline.e-float-input.e-input-group.e-control-wrapper input, .e-outline.e-float-input input, .e-outline.e-float-input.e-control-wrapper input{
border-style: none;
  }
ejs-autocomplete {
  margin-left: 550px;
  height: 35px;
  width: 550px;
  outline-color: lightskyblue;
  padding-top: 19px;
  padding-bottom: 14px;
  top:0;
}

.header button {
  padding-bottom: 10px;
 
  border: 1px solid #cccc;
  outline-color: lightskyblue;
  outline-style: none;
  width: 80px;
  height: 37px;
}

.header .search .row .icons {
  float: left;
  
  margin-left:1700px;
}
.header .search .row .icons .mic{
  margin-top:-8px;
  margin-left: -530px;
}
.header .search .row .icons .other-icons{
  margin-left: 0px;
  margin-top:-28px;
}
 .header .search .row .icons .other-icons .user-icon{
  background: #4f8bfa;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color:white;
  align-items: center;
  text-align: center;
  margin-top: -28px;
  margin-left: 91px;
} 

 .header .search .row .icons .other-icons .user-icon p{
   text-align: center;
   padding-top:4px;
  }

.types {

  margin-left: 200px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 10px;
  overflow: hidden;
}

.types button {
  overflow: hidden;
  margin-left: 8px;
  background-color: rgb(0 0 0 / 5%);
  border-radius: 89px;
  border: 1px solid #cccc;
  padding: 5px;
}

#nav-menu {
  margin-top:-140px;
  background-color: white;
  width: 450px;
  height: 100vh;

}
.nav-menu-items li{
padding-top:20px;
padding-left: 20px;
}


i {
  margin-right: 20px;
}
.menu{
  margin-right: 10px;
}
